<html>


<%- include ../partials/head.ejs %>

<%
        function timeConverter(UNIX_timestamp){
          var a = new Date(UNIX_timestamp);
          var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
          var year = a.getFullYear();
          var month = months[a.getMonth()];
          var date = a.getDate();
          var hour = a.getHours();
          var min = a.getMinutes();
          var time = month + '. ' + date + ' ' + year + ' - ' + (hour <= 12 ? hour : hour-12) + ':' + min + ' ' + (hour < 12 ? "AM" : "PM") ;
          return time;

        }
%>

<body>

<div style="border: 4px solid #232323; background: #232323; height: 30px;">
  <ul class="top" style="display: inline; float: right; padding: 8px; padding-right: 30px; padding-top: -10px; margin-top: -5px">
    <li><a href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
    <li><a href="https://github.com"><i class="fa fa-github"></i></a></li>
    <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
  </ul>
</div>

<div class="container articlesWrapper">
<br><br><br>
	<%- include ../partials/header.ejs %>
		<div class="panel panel-default">
  			<div class="panel-body">
		<h1><%= post.title %> <small><em><%= timeConverter(post.timestamp) %></em></small></h1>
		<hr/>

		<br>

		<p stlye="font-size: 20px"><%= post.body %></p>
		</div>
		</div>



	</div>
</body>


</html>