<html>


<%- include ../partials/head.ejs %>

<%
        function timeConverter(UNIX_timestamp){
          var a = new Date(UNIX_timestamp);
          var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
          var year = a.getFullYear();
          var month = months[a.getMonth()];
          var date = a.getDate();
          var hour = a.getHours();
          var min = a.getMinutes();
          var time = month + '. ' + date + ' ' + year + ' - ' + (hour <= 12 ? hour : hour-12) + ':' + min + ' ' + (hour < 12 ? "AM" : "PM") ;
          return time;

        }
%>

<body>

	<%- include ../partials/header.ejs %>

	<div class="container articlesWrapper">
		<h1>CMS Software</h1>
		<hr class="hr-fixed"/>
		<div class="row">
			<div class="col-sm-8">
		<% if(posts.length > 0) { posts.forEach(function(post) {%>
		<div class="panel panel-default">
  			<div class="panel-body">
				<h3><a href="/articles/<%= post.id %>"><%= post.title %></a></h3>
				<p>By <a href="/about"><span color="red">John Snow</span></a> on <%= timeConverter(post.timestamp)%> </p>
				<hr>

				    <a href="/articles/<%= post.id %>" class="thumbnail">
      					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGk0K-NZAWYaT4tWZCZDr5DKeE8qsABOs8Jan-tY523mh7UNgw" style="width: 100%"/>
    				</a>
			</div>
		</div>
		<% }) } else { %>

		<div class="panel panel-default">
  			<div class="panel-body" style="text-align: center">
  				<h2>No Posts Yet ;(</h2>
  			</div>
  		</div>

		<% } %>

		<footer>
		<div>
		<% pageNum = num + 1; pageNump = num - 1; %>
			<% if(posts.length == 5) { %>
			<a href="/articles/prev/<%= pageNum %>" style="margin-top: 5px"class="btn btn-primary">Older Posts</a>
			<% } %>
		<% if(pageNum > 2) {%>
			<a href="/articles/prev/<%= pageNump %>" style="margin-top: 5px" class="btn btn-primary">Newer Posts</a><br><br>
			<% } %>
		</div>
		</footer>
		</div>

		<%- include ../partials/categories.ejs %>



		</div>

</body>


</html>