<html>


<%- include ../partials/head.ejs %>

<%
        function timeConverter(UNIX_timestamp){
          var a = new Date(UNIX_timestamp);
          var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
          var year = a.getFullYear();
          var month = months[a.getMonth()];
          var date = a.getDate();
          var hour = a.getHours();
          var min = a.getMinutes();
          var time = month + '. ' + date + ' ' + year;
          return time;

        }
%>

<body>

<div style="border: 4px solid #232323; background: #232323; height: 38px;">
  <ul class="top" style="display: inline; float: right; padding: 8px; padding-right: 30px; padding-top: -10px; margin-top: -5px">
    <li><a href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
    <li><a href="https://github.com"><i class="fa fa-github"></i></a></li>
    <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
  </ul>
</div>

<div class="container articlesWrapper">
<br><br><br>
	<%- include ../partials/header.ejs %>
  <div class="row">
  <div class="col-sm-8">
		<div class="panel panel-default">
  			<div class="panel-body">
        <div class="row">
        <div class="col-xs-6 col-sm-6">
        <a class="thumbnail"><img src="<%= post.thumb %>" style="width: 100%"></a>
        <br>
        </div>
        <div class="col-xs-6 col-sm-6">
		<h3><%= post.title %></h3>
    <p>By <a href="/about"><%= post.author %></a> on <%= timeConverter(post.timestamp) %></p>
    <% if(user) { %> 
      <a href="/articles/edit/<%= post.id %>" class="btn btn-info">Edit</a>
      <a href="/articles/remove/<%= post.id %>" class="btn btn-danger">Delete</a>
    <%}%>
    </div>
      </div>


          <hr class="hr"/>
		<br>

		<div class="body"><%- post.body %></div>
		</div>
		</div>
    </div>
      <%- include ../partials/categories.ejs %>

	</div>
  </div>
</body>


</html>