<html>


<%- include ../partials/head.ejs %>

<%
        function timeConverter(UNIX_timestamp){
          var a = new Date(UNIX_timestamp);
          var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
          var year = a.getFullYear();
          var month = months[a.getMonth()];
          var date = a.getDate();
          var hour = a.getHours();
          var min = a.getMinutes();
          var time = month + '. ' + date + ' ' + year + ' - ' + (hour <= 12 ? hour : hour-12) + ':' + min + ' ' + (hour < 12 ? "AM" : "PM") ;
          return time;

        }
%>

<body>

	<%- include ../partials/header.ejs %>

	<div class="container">
	<br>
	<br>
		<h1>Categorie: <%= categorie %></h1>
		<hr/>

		<div class="row">
			<div class="col-sm-8">
		<% if(posts.length > 0) { posts.forEach(function(post) {%>
		<div class="panel panel-default">
  			<div class="panel-body">
				<h3><a href="/articles/<%= post.id %>"><%= post.title %></a>  <small><em><%= timeConverter(post.timestamp) %></em></small></h3>
				<hr>

				<p><%=post.body%></p>
			</div>
		</div>
		<% }) } else { %>

		<div class="panel panel-default">
  			<div class="panel-body" style="text-align: center">
  				<h2>No Posts Yet ;(</h2>
  			</div>
  		</div>

		<% } %>
		</div>

		<%- include ../partials/categories.ejs %>
	</div>
	</div>
</body>


</html>